html{
    background-color: orange;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

div{
    background-color: orange;
}
