html{
    background-color: orange;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: #fff;
}

.login-page, .home{
    background-color: orange;
}
